.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
}

.trybewarts-header-logo {
  height: 80px;
  display: flex;
}

.trybewarts-login {
  display: flex;
  margin: 10px;
}

#email {
  border-radius: 5px;
  margin: 3px;
}

#senha {
  border-radius: 5px;
  margin: 3px;
}

#botao {
  border-radius: 5px;
  margin: 3px;
  height: 30px;
  background-color: rgb(76, 6, 166);
  color: white;
  width: 100px;
}

#trybewarts-header-title {
  color: white;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  border: solid 5px rebeccapurple;
  margin-top: 50px;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-top: 150px;
}

#container {
  display: flex;
  flex-direction: row-reverse;
  margin: 30px;
  justify-content: space-around;
}

#input-name {
  margin: 7px;
  border-radius: 5px;
  height: 20px;
}

#input-lastname {
  display: flex;
  margin: 7px;
  border-radius: 5px;
  height: 20px;
}

#input-email {
  margin: 7px;
  border-radius: 5px;
  height: 20px;
}

#house {
  margin: 7px;
  border-radius: 5px;
  background-color: white;
  height: 26px;
}

#nomeCompleto {
  display: flex;
}

#emailCasa {
  display: flex;
}

hr {
  width: 670px;
}
