.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
}

.trybewarts-header-logo {
  height: 80px;
  display: flex;
}

.trybewarts-login {
  display: flex;
  margin: 10px;
}

#email {
  border-radius: 5px;
  margin: 3px;
}

#senha {
  border-radius: 5px;
  margin: 3px;
}

#botao {
  border-radius: 5px;
  margin: 3px;
  height: 30px;
  background-color: rgb(76, 6, 166);
  color: white;
  width: 100px;
}

#trybewarts-header-title {
  color: white;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-top: 150px;
}

#container {
  display: flex;
  flex-direction: row-reverse;
  margin: 30px;
  justify-content: space-around;
}

#input-name {
  margin: 7px;
  border-radius: 5px;
  height: 25px;
  width: 200px;
}

#input-lastname {
  display: flex;
  margin: 7px;
  border-radius: 5px;
  height: 25px;
  width: 200px;
}

#input-email {
  margin: 7px;
  border-radius: 5px;
  height: 25px;
  width: 200px;
}

#house {
  margin: 7px;
  border-radius: 5px;
  background-color: white;
  width: 208px;
}

#nomeCompleto {
  display: flex;
}

#emailCasa {
  display: flex;
}

#label-family {
  margin: 7px;
}

.family {
  margin: 7px;
}

#radio {
  flex-wrap: wrap;
  margin: 7px;
}

#checkbox {
  margin: 7px;
}

#radioBox {
  margin: 7px;
}

#containerFamily {
  display: flex;
}

#areaText {
  width: 500px;
  height: 200px;
  border-radius: 5px;
}

#containerTextArea {
  margin: 7px;
  display: flex;
}

#textArea1 {
  border: solid rgb(76, 6, 166) 2px;
  border-radius: 5px;
  width: 550px;
}

#containerCheckbox {
  margin: 7px;
}

#submit-btn {
  color: white;
  background-color: rgb(76, 6, 166);
  width: 500px;
  border-radius: 5px;
}

footer {
  margin: 10px auto;
  text-align: center;
  background-color: rgb(49, 44, 44);
  color: aliceblue;
}

body {
  margin: 0;
}
